.app__reviews_review{
  width: 100%;
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  flex: 1;
  gap: 2rem;
}
.app__wrapper_img{
  width: 350px;
  height: auto;
 }
.app__wrapper_img img{
  width: 100%;
  border-radius: 50%;
  height: auto;
  border-top: 20px solid var(--color-golden);
  border-right: 20px solid var(--color-golden);
}


@media screen and (max-width: 850px){
  .app__reviews_review{
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    width: 90%;
    justify-content: center;
   }
   .app__reviews_review{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 650px){
  .app__reviews_review{
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
   }
}